/*****************************************
CalPress Typography defaults
*****************************************/

body {
   font-size: 12px;
   line-height: 18px;
}

a{
    color: #000;
}

.entry-title a, #blog-title a{
    text-decoration: none;
}

p, ul, ol { 
    margin-bottom: 18px; 
}

h1{
    font-size: 36px; 
    line-height: 42px;
    margin-bottom: 18px;
}


h2 { 
    font-size: 24px; 
    line-height: 36px;
    margin-bottom: 18px; 
}

h2.entry-title{
    line-height: 24px;
}

h3 { 
    font-size: 18px; 
    line-height: 18px; 
    margin-bottom: 18px;
}

h4 { 
    font-size: 12px; 
    line-height: 18px; 
    margin-bottom: 6px;
}

dl dt{
    margin-top: 5px;
}

dl dt:first-child{
    margin-top: 0px;
}

blockquote, q {
	quotes: "" "";
}

q:before, q:after {
	content: '"';
}

/* When a sub head follows a headline (H1 > H2), eleminate the margin between */
h1 + h2, h2 + h3 {
    margin-top: -18px;
}

.more{
    font-weight: bold;
    text-align: right;
}

.caption, .entry-meta, .wp-caption-text{
    color: #a2a2a2;
}

.entry-shortmeta{
    margin-bottom: 18px;
}

.clearleft{
    clear: left;
}
.clearright{
    clear: right;
}

/* In a nested list, eliminate bottom UL margin */
ul ul{
	margin-bottom: 0;
}

ul.xoxo > li{
    list-style-type: none;
    margin-left: 0;
}

ul.xoxo.blogroll > li{
   list-style-type: square;
   margin-left: 30px;
}

ul.xoxo ul {
	margin-bottom: 18px;
}

/* Sidebar */
#sidebar #searchform{
    margin-bottom: 18px;
}

/* Basic block rules */

.left, .alignleft { 
    float: left; 
    margin: 0 10px 0 0; 
}

.right, .alignright { 
    float: right; 
    margin: 0 0 0 10px; 
}

.pullquote{
    padding: 24px;
    font-size: 18px;
    line-height:18px;
    max-width: 172px; /* (l padding + r padding) + max-width = 3 col span on a 12 col 960 grid */
}

.pullquote p, .pullquote ul, .pullquote ol, .pullquote h1, .pullquote h2{
    margin: 0;
    padding: 0;
}

.entry-title{
    margin-bottom: 6px; /* default headers have 18px of bottom margin. we need less b/c of bylines and such */
}

.entry-video-downloads, .entry-audio-downloads{
    float: right;
    margin: 0 0 0 10px; 
}

.lead-art{
    margin-bottom: 5px;
}

body.single .entry-content p{
    font-size: 14px;
    line-height: 22px;
}

/* Bottom of pages */
.post, .attachment, #nav-below, #nav-images, .twitter-search, #comments-list{
    margin-bottom: 25px;
    overflow: auto;
}

.nav-previous, .nav-next{
    width: 50%;
    float: right;
    overflow: auto;
}

.nav-previous{
    text-align: right;
}

/* treat pictures as block-level elements */
img.pic{
	display: block !important;
}

/* WP image styles */
img.alignright {float:right; margin:0 0 10px 10px}
img.alignleft {float:left; margin:0 10px 10px 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 10px 10px}
a img.alignleft {float:left; margin:0 10px 10px 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


/*****************************************
960 Background Grid Guide
-   CalPress can add grid to the body class
*****************************************/
body.grid #wrapper.container_12{
    background-image: url(img/12_col.gif);
}

body.grid #wrapper.container_16{
    background-image: url(img/16_col.gif);
}

/*****************************************
CalPress Internal Page Columns
-   rails align internally with external 
    divs on 12 & 16 col 960 grids. 12 is 
    assumed. 16 is specifed with .container_16
*****************************************/
/* All rails have an internal 5 pixel padding */
.rail-1col-right, .rail-1col-left, .rail-2col-right, .rail-2col-left, .rail-3col-right, .rail-3col-left, .rail-4col-right, .rail-4col-left, .rail-5col-right, .rail-5col-left, .rail-6col-right, .rail-6col-left{
    padding: 5px;
    margin-bottom: 10px;
}

/* the last elment in a rail need not have any inheirent bottom padding or margins (CSS 3 selector)
.rail-1col-right :last-child, .rail-1col-left :last-child, .rail-2col-right :last-child, .rail-2col-left :last-child, .rail-3col-right :last-child, .rail-3col-left :last-child, .rail-4col-right :last-child, .rail-4col-left :last-child, .rail-5col-right :last-child, .rail-5col-left :last-child, .rail-6col-right :last-child, .rail-6col-left :last-child{
    margin-bottom: 0px;
    padding-bottom: 0px;
}*/

/* Float rails and give them the appropriate l/r margins*/
.rail-1col-right, .rail-2col-right, .rail-3col-right, .rail-4col-right, .rail-5col-right, .rail-6col-right, .rail-7col-right, .rail-8col-right{
    margin-left: 10px;
    float: right;
	clear: right;
}
.rail-1col-left, .rail-2col-left, .rail-3col-left, .rail-4col-left, .rail-5col-left, .rail-6col-left, .rail-7col-left, .rail-8col-left{
    margin-right: 10px;
    float: left;
	clear: left;
}

/* To account for internal l/r padding and margin, all rails 
are 10px narrower than their 960 grid parents */

/* 12 cols */
.rail-1col-right, .rail-1col-left{
    width: 50px;
}

.rail-2col-right, .rail-2col-left{
    width: 130px;
}

.rail-3col-right, .rail-3col-left{
    width: 210px;
}

.rail-4col-right, .rail-4col-left{
    width: 290px;
}

.rail-5col-right, .rail-5col-left{
    width: 370px;
}

.rail-6col-right, .rail-6col-left{
    width: 450px;
}

/* 16 cols */
.container_16 .rail-1col-right, .container_16 .rail-1col-left{
    width: 30px;
} 
.container_16 .rail-2col-right, .container_16 .rail-2col-left{
    width: 90px;
}
.container_16 .rail-3col-right, .container_16 .rail-3col-left{
    width: 150px;
}
.container_16 .rail-4col-right, .container_16 .rail-4col-left{
    width: 210px;
}
.container_16 .rail-5col-right, .container_16 .rail-5col-left{
    width: 270px;
}
.container_16 .rail-6col-right, .container_16 .rail-6col-left{
    width: 330px;
}
.container_16 .rail-7col-right, .container_16 .rail-7col-left{
    width: 390px;
}
.container_16 .rail-8col-right, .container_16 .rail-8col-left{
    width: 450px;
}


/* inner-rail spacing. l/r padding in parent. we need b, t is inherent in first elements parent top padding. */
.rail-element, .sidebar-element{
    margin-bottom: 15px;
}

/*****************************************
CalPress Content Section-specific rules
*****************************************/
#show-mobile{
    background-color: #000;
    color: #FFF;
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    font-weight: bold;
}

#show-mobile a{
    color: #FFF;
}

#wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

#nav-above{
    display: none; /* Hide the auto-generated previous/next link at the top of posts */
}

#header h1{
    margin-bottom: 0px;
}

#menu li{
    display: inline;
    margin: 10px 20px 10px 0;
}

#entry-sidebar{
    float:right;
	clear: right;
    margin-left:10px;
    padding:5px;
    margin-left: 10px;
    width:290px; /* 4 col on a 12col 960 grid */
}

#footer{
	text-align: center;
	border-top: 2px solid #000;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px 0;
}

/* Spacing between comment "paragraphs" */
li.comment p br{
    margin-bottom: 10px;
}

/*
 Twitter Search
*/
.twitter-search{
    clear: both;
}

/*************************
 Comments
 #comments
 Threaded commenting derived from the Magazine Basic Theme:
 http://bavotasan.com/tutorials/how-to-add-nested-comments-to-your-wordpress-theme/
 http://wordpress.org/extend/themes/magazine-basic
*************************/

#comments{
    clear: both;
}

#comments-list > h3{
	background-color: #999;
	color: #fff;
	padding: 4px;
	margin-bottom: 0;
}

#comments-list .says{
    display: none;
}
ol.commentlist li { border:1px solid #d5d5d5; margin:0 0 10px; padding:5px 7px 5px 64px; position:relative; }
ol.commentlist li.pingback comment-author { padding:0 170px 0 0; }
ol.commentlist li div.vcard { font-weight:bold; font-size: 14px; line-height: 16px; font-family: helvetica,arial,sans-serif; }
ol.commentlist li div.vcard cite.fn, ol.commentlist li div.vcard .member-status { font-style:normal; font-size: 11px; }
ol.commentlist li div.vcard cite.fn a.url { color: #999; text-decoration:underline; }
ol.commentlist li div.vcard cite.fn a.url:hover { color: #ccc; }
ol.commentlist li div.vcard img.avatar { background: #fff; border:1px solid #aaa; padding: 5px; left:7px; position:absolute; top:7px; }
ol.commentlist li div.comment-meta { font-weight:bold; font-size: 10px; line-height: 16px; font-family: helvetica,arial,sans-serif; position:absolute; right:10px; text-align:right; top:5px; }
ol.commentlist li div.comment-meta a { color:#999; text-decoration:underline; }
ol.commentlist li div.comment-meta a:hover { color: #ccc; }
ol.commentlist li p { font-weight:normal; font-size: 12px; line-height: 16px; font-family: helvetica,arial,sans-serif; margin:5px 0 12px; }
ol.commentlist li ul { font-weight:normal; font-size: 12px; line-height: 16px; font-family: helvetica,arial,sans-serif; list-style:square; margin:0 0 12px; padding:0; }
ol.commentlist li div.reply a { color:#fff; text-decoration:none; text-transform:uppercase; }
ol.commentlist li ul.children { list-style:none; margin:12px 0 0; text-indent:0; }
ol.commentlist li ul.children li.depth-2 { margin:0 0 3px; }
ol.commentlist li ul.children li.depth-3 { margin:0 0 3px; }
ol.commentlist li ul.children li.depth-4 { margin:0 0 3px; }
ol.commentlist li ul.children li.depth-5 { margin:0 0 3px; }
ol.commentlist ul.children li.odd { background:#fff; }
ol.commentlist ul.children li.even { background:#f6f6f6; }
ol.commentlist li.pingback div.vcard { padding:0 170px 0 0; }

ol.commentlist li div.vcard span.member-status {
    display:block;
}

ol.commentlist li div.reply, #comments input#submit, input.pushbutton-wide { 
    background:#999; 
    border:1px solid #666; 
    color:#fff; 
    font:bold 9px/1 helvetica,arial,sans-serif; 
    padding:6px 5px 4px;  
    text-align:center; width:36px; 
}

ol.commentlist li div.reply:hover, #comments input#submit:hover, input.pushbutton-wide:hover { 
    background:#ccc; 
    border:1px solid #999; 
}

#comments input#submit, input.pushbutton-wide{
    width: 85px;
    margin: 20px 0;
    cursor:pointer;
    cursor:hand;
}

#comments #respond{
    margin-top: 18px;
}

.bypostauthor{
    background-color: #FEFFCD;
}

/*************************
 Category / Author and all default archive pages
 body.page-template-category-page-php or body.category
*************************/
body.archive .post, body.category .post, body.page-template-category-page-php .post{
    padding-top: 15px;
    margin-bottom: 15px;
    width: 620px;
}

body.archive.tag .post{
    width: 380px;
}

body.archive .p1.post,body.category .p1.post, body.page-template-category-page-php .p1.post{
    padding-top: 0;
    border-top: 0;
}

body.archive .entry-image, body.category .entry-image, body.page-template-category-page-php .entry-image, body.four04 .entry-image{
    float: left;
    width: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
}

body.archive .entry-date, body.category .entry-date, body.page-template-category-page-php .entry-date{
   margin-bottom: 5px;
}

/*************************
 Author pages
*************************/
body.author .entry-meta .vcard, body.author .entry-meta .meta-sep{
    display: none;
}

body.author h3.title{
    font-style: italic;
    font-size: 1.4em;
    margin-top: -21px;
    font-weight: 300;
}

body.author p.author-profile.aux, body.author #author-comments p{
    margin-bottom: 2px;
    margin-top: 0;
}

body.author .vcard{
    float: left;
    width: 300px;
    margin-right: 10px;
}

body.author .vcard.company{
    margin-right: 0;
    margin-left: 10px;
}

body.author .page-element{
    clear: both;
}

body.author h3.page-element{
    margin-top: 18px;
}

body.author #author-comments li{
    border-top: 1px solid #000;
    padding: 3px 0;
    list-style: none;
    margin-left: 0;
}

body.author #author-comments li:first-child{
    border-top: 0;
}

body.author #author-comments .comment-content, body.author #author-comments .comment-time{
    padding: 0 15px;
}

body.author #author-comments .comment-time{
   text-align: right;
   font-size: .9em;
}

body.author .comment-post{
    font-weight: bold;
}

body.author #author-photo{
    width: 220px;
    margin-left: 20px;
    float: right;
}

body.author #content.community-profile #author-photo + #author-meta .author-profile.aux{
    width: 220px;
}

body.author #content.community-profile .participation{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

body.author h2.entry-title{
    font-size: 1em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 2px;
}

body.author .entry-meta, body.author .entry-content{
    padding: 0 15px;
}

body.author .post{
    border-top:1px solid #000000;
    padding: 4px 0;
    margin-bottom: 4px;
}

body.author #author-contact textarea{
    width: 100%;
}

/*************************
 Package Page
 #content.package
*************************/
#content.package .package-tease{
    font-size: 14px;
}

#content.package h1{
    margin-bottom: 6px;
}

#content.package h2{
    margin-bottom: 2px;
}

#content.package .rail-element{
   padding-top: 10px;
}

#content.package .rail-element:first-child{
   padding-top: 0;
}

#content.package .rail-element h3{
    margin-bottom: 4px;
}

/*************************
 Login Page
 body.login
*************************/
body.login h1 a {
	background: none;
	display:inline;
	padding-bottom:inherit;
	text-indent:0;
	width: 100%;
}

body.login h1{
	text-align: center;
}

body.login a{
	color: #000;
}

body.login #nav a {
	color:#000 !important;
}

body.login #login {
	margin:7em auto;
	width:400px;
}

body.login form  {
	-moz-box-shadow: none;
	-moz-border-radius: 0;
	background:none repeat scroll 0 0 #FFFFFF;
	border:0;
	font-weight:normal;
	margin: 0 0 18px 0;
	padding:16px 16px 40px;
}

body.login #nav {
	text-shadow: none;
	margin: 0;
	padding: 0;
}

body.login .button-primary{
	background: none repeat scroll 0 0 #000;
	border: 0;
	color:#FFFFFF;
	font-weight:bold;
	text-shadow:0;
	-moz-border-radius: 0;
}

/* generic home page rules */

.home.paged .post{
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-bottom: 10px;
}

.home.paged .p1{
    border-top: 0;
    padding-top: 0;
}

.home.paged .post .entry-content p{
    margin-bottom: 2px;
}

/*************************
 CalPress ships with 2 
 default layouts. Rules for
 those are here.
*************************/

/* Blog */



/* 
    News 
    - in two parts
    - the front page (body.home) is structred and boxy. The "paged" pages (body.home.paged [/page/2/]) are blog-like
*/ 
body.front-layout-news #lead-story, body.front-layout-news #secondary-stories, body.front-layout-news #tertiary-stories {
    /* avoid clearing after */
    overflow: auto;
    width: 100%;
    margin-bottom: 10px;
}

    body.front-layout-news #lead-story p{
        margin-bottom: 0;
        margin-top: 10px;
    }
    
    body.front-layout-news #lead-story .p1{
        margin-bottom: 10px;
    }
    
    body.front-layout-news #lead-story p:first-child{
        margin-top: 0;
    }
    
    body.front-layout-news #lead-story .lead-art, body.front-layout-news #lead-story .entry-image, body.front-layout-news #lead-story .caption{
        width: 300px;
        float: left;
        margin-right: 20px;
    }
    
    body.front-layout-news #lead-story p.caption{
        clear: left;
        font-size: .9em;
        line-height: 1.3em;
        margin-top: 0;
    }
    
    
    body.front-layout-news #lead-story .entry-title, body.front-layout-news #lead-story .entry-meta, body.front-layout-news #lead-story .entry-content{
        margin-left: 10px;
    }
    
    body.front-layout-news #lead-story .entry-title{
        margin-bottom: 9px;
    }

    body.front-layout-news #lead-story .entry-meta{
        margin-bottom: 12px;
    }
    
    #special-features{
        clear: both;
    }
    
    /* News2 layout */
    
    body.front-layout-news2 #lead-story, body.front-layout-news2-alt #lead-story{
        width: 300px;
        float: left;
        margin-right: 20px;
    }
    
    body.front-layout-news2 #secondary-stories, body.front-layout-news2-alt #secondary-stories{
        clear: left;
        float: left;
        width: 300px;
        margin-right: 20px;
    }
    
    body.front-layout-news2 #tertiary-stories, body.front-layout-news2-alt #tertiary-stories{
        width: 300px;
        overflow: auto;
    }
    
    /* push and pull columns on alternate layout */
    
    body.front-layout-news2-alt #secondary-stories, body.front-layout-news2-alt #lead-story{
        position: relative;
        right: -320px;
        margin-right: 0;
    }
    
    body.front-layout-news2-alt #tertiary-stories{
        position: relative;
        left: -300px;
    }
    
    /* */
    
    body.front-layout-news2 #lead-story .lead-art, body.front-layout-news2 #lead-story .caption, body.front-layout-news2-alt #lead-story .lead-art, body.front-layout-news2-alt #lead-story .caption{
        float: none;
        margin-right: 0;
    } 
    
    body.front-layout-news2 #lead-story p, body.front-layout-news2-alt #lead-story p{
        padding-left: 0;
    }
    
    body.front-layout-news2 #lead-story .entry-title, body.front-layout-news2 #lead-story .entry-meta, body.front-layout-news2 #lead-story .entry-content, body.front-layout-news2-alt #lead-story .entry-title, body.front-layout-news2-alt #lead-story .entry-meta, body.front-layout-news2-alt #lead-story .entry-content {
        margin-left:0px;
    }
    

    
    body.front-layout-news2 #secondary-stories > div, body.front-layout-news2-alt #secondary-stories > div{
        float: none;
        margin-left: 0;
    }
    
    body.front-layout-news2 #tertiary-stories>div, body.front-layout-news2-alt #tertiary-stories>div{
        width: 300px;
        margin-left: 0;
        float: none;
    }
    
    body.front-layout-news2 #tertiary-stories>div.alt, body.front-layout-news2-alt #tertiary-stories>div.alt{
        margin-right: 0;
        clear: none;
    }
    
    body.front-layout-news2 #tertiary-stories > div:first-child, body.front-layout-news2-alt #tertiary-stories > div:first-child{
        border-top: 0;
        padding-top: 0;
    }
    
    body.front-layout-news2 #nav-below, body.front-layout-news2-alt #nav-below{
        clear: both;
    } 
    
    /* News3 layout */
    
    body.front-layout-news3 #lead-story, body.front-layout-news3-alt #lead-story{
        width: 300px;
        float: none;
        margin-right: 20px;
        min-height: 455px;
    }
    
    body.front-layout-news3 #secondary-stories, body.front-layout-news3-alt #secondary-stories{
        /*float: left;*/
        overflow: auto;
        border-top: 1px solid #000;
        padding-top: 10px;
    }
    
     body.front-layout-news3 #secondary-stories .p4, body.front-layout-news3-alt #secondary-stories .p4{
         margin-left: 0;
         margin-right: 10px;
         clear: left;
     }
    
    body.front-layout-news3 #content, body.front-layout-news3-alt #content{
        position: relative;
    }
    
    body.front-layout-news3 #tertiary-stories, body.front-layout-news3-alt #tertiary-stories{
        position: absolute;
        top: 0px;
    }
    
    body.front-layout-news3 #tertiary-stories>div, body.front-layout-news3-alt #tertiary-stories>div{
        width: 300px;
        margin-left: 0;
        float: none;
        position: relative;
        left: 320px;
    }
    
    body.front-layout-news3 #tertiary-stories>div:first-child, body.front-layout-news3 #tertiary-stories>div:first-child{
        border-top: 0;
        padding-top: 0;

    }
    
    body.front-layout-news3 #lead-story .lead-art, body.front-layout-news3 #lead-story .caption, body.front-layout-news3-alt #lead-story .lead-art, body.front-layout-news3-alt #lead-story .caption{
        float: none;
        margin-right: 0;
    } 
    
    body.front-layout-news3 #lead-story p, body.front-layout-news3-alt #lead-story p{
        padding-left: 0;
    }
    
    body.front-layout-news3 #lead-story .entry-title, body.front-layout-news3 #lead-story .entry-meta, body.front-layout-news3 #lead-story .entry-content, body.front-layout-news3-alt #lead-story .entry-title, body.front-layout-news3-alt #lead-story .entry-meta, body.front-layout-news3-alt #lead-story .entry-content {
        margin-left:0px;
    }
    
    body.front-layout-news3 #nav-below, body.front-layout-news3-alt #nav-below{
        clear: both;
    }
    
    
#secondary-block{
    clear: both;
}

    #secondary-stories>div{
        width: 300px;
        float: left;
        margin: 0 0 10px 10px;
    }
    
    #secondary-stories>div:first-child{
        margin-left: 0;
        margin-right: 10px;
    }
    
    #secondary-stories .entry-image{
        margin-bottom: 18px;
    }
    
    #secondary-block .entry-title{
        margin-bottom: 4px;
    }

    #secondary-block h3, #special-features h3{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 5px 0;
        font-size: 1.4em;
    }
    
    #secondary-block .more, #secondary-block .navigation{
        clear: left;
    }
    
    #secondary-block #tertiary-stories, #secondary-block #special-features{
        clear: both;
    }
    
    #secondary-stories .p2 .caption, #secondary-stories .p3 .caption{
        display: none;
    }
    
    #tertiary-stories>div{
        width:280px;
        border-top:1px solid #000;
        float:left;
        margin:0 0 7px 10px;
        padding-top:18px;
    }
    
    
    #tertiary-stories>div.alt{
        margin-left: 0;
        margin-right: 10px;
        clear: left;
    }
    

    
    #tertiary-stories .entry-title{
        font-size: 18px;
        line-height: 18px;
    }
    
    #extra-features{
        /* avoid clearing after */
        overflow: auto;
        width: 100%
    }
    
    #extra-features div.feature{
        width: 300px;
        float: left;
        margin-left: 10px;
        margin-right: 0px;
    }
    
    #extra-features div.feature:first-child{
        margin-left: 0;
        margin-right: 10px;
    }
    
    #extra-features h5, #extra-features h5 a{
        display: block;
        width: 300px;
        text-indent: -9999em;
    }
    
    #extra-features #front-radio h5 a{
        background: transparent url('images/extras/front-radio.png') no-repeat 0 0;
        height: 43px;
    }
    
    #extra-features #front-seeclickfix h5 a{
        background: transparent url('images/extras/front-seeclickfix.jpg') no-repeat 0 0;
        height: 80px;
    }


